KALTURA_SERVICE_URL=https://www.kaltura.com
KALTURA_ADMIN_SECRET= #obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_PARTNER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_PLAYER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/studio/v3
SESSION_SECRET= #Random String, key used for encrypting session cookies